DATABASE_URL=postgresql+asyncpg://neondb_owner:npg_RZGtbj8fMT5D@ep-bold-sound-a1q7e5yt.ap-southeast-1.aws.neon.tech/neondb?ssl=require
SYNC_DATABASE_URL=postgresql+psycopg2://neondb_owner:npg_RZGtbj8fMT5D@ep-bold-sound-a1q7e5yt.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
JWT_SECRET_KEY=change_this_to_a_long_random_secret
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440
CORS_ORIGINS=["http://localhost:3000"]
